{:deps true
 :builds {:rcd {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules {:main {:entries [rcd.core]
                                 :init-fn rcd.core/main}}}}}
